In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np

In [2]:
# Importando os Dados
df = pd.read_excel('DatasetFinal.xlsx')

In [3]:
# Removendo as duas primeiras colunas que são desnecessárias
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [4]:
# Verificando o tipo dos dados de cada coluna
df.dtypes

Pais           object
Ano             int64
Tipo           object
Valor_KG        int64
Valor_Dolar     int64
dtype: object

In [5]:
# Realizando filtro para pegar apenas os últimos 15 anos para o tipo "Vinho Mesa"
df_filtrado = df[(df['Ano'] >= 2008) & (df['Tipo'] == 'Vinho Mesa')]

In [6]:
# Realizando agrupamento dos dados para verificar os países com mais exportações nesse período vendo o total em dolar
vinho_mesa = df_filtrado.groupby(by=['Pais'])[['Valor_KG', 'Valor_Dolar']].sum().sort_values(by=['Valor_Dolar'], ascending = False)
vinho_mesa[:15]

                           Valor_KG  Valor_Dolar
Pais
Paraguai                   29214770     38719031
Russia                     39029799     25504484
Estados Unidos da América   3563355      9684567
China                       2509458      4746525
Reino Unido                 1239551      4711464
Espanha                     1993000      3808552
Holanda                     1236154      3791611
Alemanha                     909051      2546394
Japão                       1181692      2377716
Haiti                       1791603      2327208
Belgica                      402667      1395226
Uruguai                      792595      1219878
Canada                       195491      1097417
Suica                        152894       906264
França                       317553       720359

In [7]:
# Resetando o index e realizando a cópia do dataframe para a variável "vinho_mesa_paises_litros"
vinho_mesa_top15_dolar = vinho_mesa[:15].reset_index()

# Inserindo separador de milhar nas colunas numéricas
vinho_mesa_top15_dolar['Valor_KG'] = vinho_mesa_top15_dolar['Valor_KG'].map("{:,}".format)
vinho_mesa_top15_dolar['Valor_Dolar'] = vinho_mesa_top15_dolar['Valor_Dolar'].map("{:,}".format)

# Renomenado as colunas do dataframe
vinho_mesa_top15_dolar = vinho_mesa_top15_dolar.rename(columns={"Valor_KG": "Quantidade em litros de vinho exportado",
                                                                 "Valor_Dolar": "Valor total em dolar de vinho exportado"})
vinho_mesa_top15_dolar

,Pais,Quantidade em litros de vinho exportado,Valor total em dolar de vinho exportado
0,Paraguai,"29,214,770","38,719,031"
1,Russia,"39,029,799","25,504,484"
2,Estados Unidos da América,"3,563,355","9,684,567"
3,China,"2,509,458","4,746,525"
4,Reino Unido,"1,239,551","4,711,464"
5,Espanha,"1,993,000","3,808,552"
6,Holanda,"1,236,154","3,791,611"
7,Alemanha,"909,051","2,546,394"
8,Japão,"1,181,692","2,377,716"
9,Haiti,"1,791,603","2,327,208"
10,Belgica,"402,667","1,395,226"
11,Uruguai,"792,595","1,219,878"
12,Canada,"195,491","1,097,417"
13,Suica,"152,894","906,264"
14,França,"317,553","720,359"

In [9]:
# Exportando para realizar análise no PBI
lista_paises_dolar = ["Russia", "Paraguai", "Estados Unidos da América", "China", "Reino Unido", "Espanha", 
                       "Holanda", "Alemanha" , "Japão", "Haiti", "Belgica", "Uruguai", "Canada", "Suica", "França"]

vinho_mesa_PBI = df[(df['Ano'] >= 2008) & (df['Tipo'] == 'Vinho Mesa') & (df['Pais'].isin(lista_paises_dolar))]
vinho_mesa_PBI.to_excel("TOP15_DOLARES.xlsx")